footer {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  border: 2px solid black;
  z-index: 2;
  background-color: rgb(22, 22, 21);
}

footer a:hover {
  text-decoration: underline;
}
