header {
  width: 60%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 50px;
  background-color: rgba(234, 224, 211, 0);
  color: white;
}

header > * {
  margin-right: 40px;
  margin-left: 40px;
}

header .right {
  display: flex;
  gap: 20px;
}
