header {
  width: 60%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 50px;
}
