header {
  width: 60%;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 50px;
  background-color: rgba(234, 224, 211, 0);
  color: rgb(0, 0, 0);
}
