body {
  font-family: 'Raleway', sans-serif;
}

.welcome {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d1f1;
}

.welcome h1 {
  font-size: 3rem;
  font-family: 'Titan One', sans-serif;
}

section {
  display: flex;
  height: 70vh;
  align-items: center;
  font-size: 1.3rem;
}

.infos {
  background-color: #cbb9f5;
}

.games {
  background-color: #b59ff9;
}

.image,
.text {
  display: flex;
  gap: 20px;
  padding: 50px;
  width: 50%;
}

.text {
  display: flex;
  flex-direction: column;
}

a {
  background-color: white;
  margin: auto;
  padding: 5px;
  border: solid black 2px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 35px;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
}

a:hover {
  background-color: #b59ff9;
  color: white;
}

.image img {
  width: 550px;
  height: auto;
  border-radius: 20px;
}
