body {
  font-family: 'Raleway', sans-serif;
}

.welcome {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d1f1;

  position: relative;
}

.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.welcome h1 {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 8rem;
  font-family: 'Titan One', sans-serif;
  z-index: 2; /* Le texte au-dessus de la boule */
  text-align: center;
}

.infos-container {
  height: 100%;
  background-color: blue;
}
