body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#ffccf2 0%, #977dff 20%, #0033ff 100%);
  background-attachment: fixed;
}

.title {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*   background-color: #007bff; */
}

h1 {
  position: relative;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-family: 'Titan One', sans-serif;
  z-index: 2; /* Le texte au-dessus de la boule */
  text-align: center;
}

.h1-1 {
  font-size: 1.5rem;
}

h2 {
  margin-top: 10px;
  font-size: 2rem;
}

.software-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.software-card {
  background: transparent;
  border-radius: 10px;
  padding: 20px;
  width: 510px;

  transition: transform 0.3s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.software-card:hover {
  transform: translateY(-5px);
}

.logo {
  width: 120px;
  height: auto;
  margin: 10px 0;
  transition: opacity 0.5s;
  border: solid 2px black;
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 10px;
}

.logoname {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name {
  transition: opacity 0.5s;
  color: white;
}

.btn {
  padding: 8px 15px;
  border: solid 2px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100%;
  font-size: 14px;
  background: #f2d160;
  color: #000000;
  width: 200px;
}

.savings {
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Titan One', sans-serif;
  margin-top: 10px;
}

#total {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

#resetBtn {
  margin-top: 10px;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background: #dc3545;
  color: white;
  cursor: pointer;
}

.economie p {
  background-color: #e9e9e9;
  padding: 10px;
  border: #000000 solid 2px;
  border-radius: 10px;
}

.nextstep {
  font-size: 2rem;
  background-color: green;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.nextstep:hover {
  background-color: rgb(3, 79, 3);
}
